-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "analytics";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "analytics"."d_athletes" (
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "name" TEXT NOT NULL,
    "normalized_name" TEXT NOT NULL,
    "date_of_birth" DATE,
    "age" DECIMAL,
    "gender" TEXT,
    "height" DECIMAL,
    "weight" DECIMAL,
    "notes" TEXT,
    "source_system" TEXT,
    "source_athlete_id" TEXT,
    "app_db_uuid" TEXT,
    "app_db_synced_at" TIMESTAMPTZ(6),
    "has_pitching_data" BOOLEAN NOT NULL DEFAULT false,
    "has_athletic_screen_data" BOOLEAN NOT NULL DEFAULT false,
    "has_pro_sup_data" BOOLEAN NOT NULL DEFAULT false,
    "has_readiness_screen_data" BOOLEAN NOT NULL DEFAULT false,
    "has_mobility_data" BOOLEAN NOT NULL DEFAULT false,
    "has_proteus_data" BOOLEAN NOT NULL DEFAULT false,
    "has_hitting_data" BOOLEAN NOT NULL DEFAULT false,
    "pitching_session_count" INTEGER NOT NULL DEFAULT 0,
    "athletic_screen_session_count" INTEGER NOT NULL DEFAULT 0,
    "pro_sup_session_count" INTEGER NOT NULL DEFAULT 0,
    "readiness_screen_session_count" INTEGER NOT NULL DEFAULT 0,
    "mobility_session_count" INTEGER NOT NULL DEFAULT 0,
    "proteus_session_count" INTEGER NOT NULL DEFAULT 0,
    "hitting_session_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_group" TEXT,
    "has_arm_action_data" BOOLEAN NOT NULL DEFAULT false,
    "arm_action_session_count" INTEGER NOT NULL DEFAULT 0,
    "has_curveball_test_data" BOOLEAN NOT NULL DEFAULT false,
    "curveball_test_session_count" INTEGER NOT NULL DEFAULT 0,
    "has_pitching_trial_data" BOOLEAN DEFAULT false,
    "pitching_trial_count" INTEGER DEFAULT 0,
    "email" TEXT,
    "age_at_collection" DECIMAL,
    "has_hitting_trial_data" BOOLEAN DEFAULT false,
    "hitting_trial_count" INTEGER DEFAULT 0,

    CONSTRAINT "d_athletes_pkey" PRIMARY KEY ("athlete_uuid")
);

-- CreateTable
CREATE TABLE "analytics"."source_athlete_map" (
    "source_system" TEXT NOT NULL,
    "source_athlete_id" TEXT NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "source_athlete_map_pkey" PRIMARY KEY ("source_system","source_athlete_id")
);

-- CreateTable
CREATE TABLE "f_arm_action" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'arm_action',
    "source_athlete_id" VARCHAR(100),
    "filename" TEXT,
    "movement_type" TEXT,
    "foot_contact_frame" INTEGER,
    "release_frame" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "arm_abduction_at_footplant" DECIMAL,
    "max_abduction" DECIMAL,
    "shoulder_angle_at_footplant" DECIMAL,
    "max_er" DECIMAL,
    "arm_velo" DECIMAL,
    "max_torso_rot_velo" DECIMAL,
    "torso_angle_at_footplant" DECIMAL,
    "score" DECIMAL,

    CONSTRAINT "f_arm_action_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL,
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,

    CONSTRAINT "f_athletic_screen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen_cmj" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'athletic_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_name" TEXT,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jh_in" DECIMAL,
    "peak_power" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "peak_power_w" DECIMAL,
    "time_to_peak_s" DECIMAL,
    "rpd_max_w_per_s" DECIMAL,
    "time_to_rpd_max_s" DECIMAL,
    "rise_time_10_90_s" DECIMAL,
    "fwhm_s" DECIMAL,
    "auc_j" DECIMAL,
    "work_early_pct" DECIMAL,
    "decay_90_10_s" DECIMAL,
    "t_com_norm_0to1" DECIMAL,
    "skewness" DECIMAL,
    "kurtosis" DECIMAL,
    "spectral_centroid_hz" DECIMAL,
    "demographic" TEXT,

    CONSTRAINT "f_athletic_screen_cmj_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen_dj" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'athletic_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_name" TEXT,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jh_in" DECIMAL,
    "peak_power" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "ct" DECIMAL,
    "rsi" DECIMAL,
    "peak_power_w" DECIMAL,
    "time_to_peak_s" DECIMAL,
    "rpd_max_w_per_s" DECIMAL,
    "time_to_rpd_max_s" DECIMAL,
    "rise_time_10_90_s" DECIMAL,
    "fwhm_s" DECIMAL,
    "auc_j" DECIMAL,
    "work_early_pct" DECIMAL,
    "decay_90_10_s" DECIMAL,
    "t_com_norm_0to1" DECIMAL,
    "skewness" DECIMAL,
    "kurtosis" DECIMAL,
    "spectral_centroid_hz" DECIMAL,
    "demographic" TEXT,

    CONSTRAINT "f_athletic_screen_dj_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen_nmt" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'athletic_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_name" TEXT,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "num_taps_10s" DECIMAL,
    "num_taps_20s" DECIMAL,
    "num_taps_30s" DECIMAL,
    "num_taps" DECIMAL,
    "demographic" TEXT,

    CONSTRAINT "f_athletic_screen_nmt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen_ppu" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'athletic_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_name" TEXT,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jh_in" DECIMAL,
    "peak_power" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "peak_power_w" DECIMAL,
    "time_to_peak_s" DECIMAL,
    "rpd_max_w_per_s" DECIMAL,
    "time_to_rpd_max_s" DECIMAL,
    "rise_time_10_90_s" DECIMAL,
    "fwhm_s" DECIMAL,
    "auc_j" DECIMAL,
    "work_early_pct" DECIMAL,
    "decay_90_10_s" DECIMAL,
    "t_com_norm_0to1" DECIMAL,
    "skewness" DECIMAL,
    "kurtosis" DECIMAL,
    "spectral_centroid_hz" DECIMAL,
    "demographic" TEXT,

    CONSTRAINT "f_athletic_screen_ppu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_athletic_screen_slv" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'athletic_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_name" TEXT,
    "side" TEXT,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jh_in" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "peak_power_w" DECIMAL,
    "time_to_peak_s" DECIMAL,
    "rpd_max_w_per_s" DECIMAL,
    "time_to_rpd_max_s" DECIMAL,
    "rise_time_10_90_s" DECIMAL,
    "fwhm_s" DECIMAL,
    "auc_j" DECIMAL,
    "work_early_pct" DECIMAL,
    "decay_90_10_s" DECIMAL,
    "t_com_norm_0to1" DECIMAL,
    "skewness" DECIMAL,
    "kurtosis" DECIMAL,
    "spectral_centroid_hz" DECIMAL,
    "demographic" TEXT,

    CONSTRAINT "f_athletic_screen_slv_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_curveball_test" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'curveball_test',
    "source_athlete_id" VARCHAR(100),
    "filename" TEXT,
    "pitch_type" TEXT,
    "foot_contact_frame" INTEGER,
    "release_frame" INTEGER,
    "pitch_stability_score" DECIMAL,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "x_neg20" DECIMAL,
    "y_neg20" DECIMAL,
    "z_neg20" DECIMAL,
    "ax_neg20" DECIMAL,
    "ay_neg20" DECIMAL,
    "az_neg20" DECIMAL,
    "x_neg19" DECIMAL,
    "y_neg19" DECIMAL,
    "z_neg19" DECIMAL,
    "ax_neg19" DECIMAL,
    "ay_neg19" DECIMAL,
    "az_neg19" DECIMAL,
    "x_neg18" DECIMAL,
    "y_neg18" DECIMAL,
    "z_neg18" DECIMAL,
    "ax_neg18" DECIMAL,
    "ay_neg18" DECIMAL,
    "az_neg18" DECIMAL,
    "x_neg17" DECIMAL,
    "y_neg17" DECIMAL,
    "z_neg17" DECIMAL,
    "ax_neg17" DECIMAL,
    "ay_neg17" DECIMAL,
    "az_neg17" DECIMAL,
    "x_neg16" DECIMAL,
    "y_neg16" DECIMAL,
    "z_neg16" DECIMAL,
    "ax_neg16" DECIMAL,
    "ay_neg16" DECIMAL,
    "az_neg16" DECIMAL,
    "x_neg15" DECIMAL,
    "y_neg15" DECIMAL,
    "z_neg15" DECIMAL,
    "ax_neg15" DECIMAL,
    "ay_neg15" DECIMAL,
    "az_neg15" DECIMAL,
    "x_neg14" DECIMAL,
    "y_neg14" DECIMAL,
    "z_neg14" DECIMAL,
    "ax_neg14" DECIMAL,
    "ay_neg14" DECIMAL,
    "az_neg14" DECIMAL,
    "x_neg13" DECIMAL,
    "y_neg13" DECIMAL,
    "z_neg13" DECIMAL,
    "ax_neg13" DECIMAL,
    "ay_neg13" DECIMAL,
    "az_neg13" DECIMAL,
    "x_neg12" DECIMAL,
    "y_neg12" DECIMAL,
    "z_neg12" DECIMAL,
    "ax_neg12" DECIMAL,
    "ay_neg12" DECIMAL,
    "az_neg12" DECIMAL,
    "x_neg11" DECIMAL,
    "y_neg11" DECIMAL,
    "z_neg11" DECIMAL,
    "ax_neg11" DECIMAL,
    "ay_neg11" DECIMAL,
    "az_neg11" DECIMAL,
    "x_neg10" DECIMAL,
    "y_neg10" DECIMAL,
    "z_neg10" DECIMAL,
    "ax_neg10" DECIMAL,
    "ay_neg10" DECIMAL,
    "az_neg10" DECIMAL,
    "x_neg9" DECIMAL,
    "y_neg9" DECIMAL,
    "z_neg9" DECIMAL,
    "ax_neg9" DECIMAL,
    "ay_neg9" DECIMAL,
    "az_neg9" DECIMAL,
    "x_neg8" DECIMAL,
    "y_neg8" DECIMAL,
    "z_neg8" DECIMAL,
    "ax_neg8" DECIMAL,
    "ay_neg8" DECIMAL,
    "az_neg8" DECIMAL,
    "x_neg7" DECIMAL,
    "y_neg7" DECIMAL,
    "z_neg7" DECIMAL,
    "ax_neg7" DECIMAL,
    "ay_neg7" DECIMAL,
    "az_neg7" DECIMAL,
    "x_neg6" DECIMAL,
    "y_neg6" DECIMAL,
    "z_neg6" DECIMAL,
    "ax_neg6" DECIMAL,
    "ay_neg6" DECIMAL,
    "az_neg6" DECIMAL,
    "x_neg5" DECIMAL,
    "y_neg5" DECIMAL,
    "z_neg5" DECIMAL,
    "ax_neg5" DECIMAL,
    "ay_neg5" DECIMAL,
    "az_neg5" DECIMAL,
    "x_neg4" DECIMAL,
    "y_neg4" DECIMAL,
    "z_neg4" DECIMAL,
    "ax_neg4" DECIMAL,
    "ay_neg4" DECIMAL,
    "az_neg4" DECIMAL,
    "x_neg3" DECIMAL,
    "y_neg3" DECIMAL,
    "z_neg3" DECIMAL,
    "ax_neg3" DECIMAL,
    "ay_neg3" DECIMAL,
    "az_neg3" DECIMAL,
    "x_neg2" DECIMAL,
    "y_neg2" DECIMAL,
    "z_neg2" DECIMAL,
    "ax_neg2" DECIMAL,
    "ay_neg2" DECIMAL,
    "az_neg2" DECIMAL,
    "x_neg1" DECIMAL,
    "y_neg1" DECIMAL,
    "z_neg1" DECIMAL,
    "ax_neg1" DECIMAL,
    "ay_neg1" DECIMAL,
    "az_neg1" DECIMAL,
    "x_pos0" DECIMAL,
    "y_pos0" DECIMAL,
    "z_pos0" DECIMAL,
    "ax_pos0" DECIMAL,
    "ay_pos0" DECIMAL,
    "az_pos0" DECIMAL,
    "x_pos1" DECIMAL,
    "y_pos1" DECIMAL,
    "z_pos1" DECIMAL,
    "ax_pos1" DECIMAL,
    "ay_pos1" DECIMAL,
    "az_pos1" DECIMAL,
    "x_pos2" DECIMAL,
    "y_pos2" DECIMAL,
    "z_pos2" DECIMAL,
    "ax_pos2" DECIMAL,
    "ay_pos2" DECIMAL,
    "az_pos2" DECIMAL,
    "x_pos3" DECIMAL,
    "y_pos3" DECIMAL,
    "z_pos3" DECIMAL,
    "ax_pos3" DECIMAL,
    "ay_pos3" DECIMAL,
    "az_pos3" DECIMAL,
    "x_pos4" DECIMAL,
    "y_pos4" DECIMAL,
    "z_pos4" DECIMAL,
    "ax_pos4" DECIMAL,
    "ay_pos4" DECIMAL,
    "az_pos4" DECIMAL,
    "x_pos5" DECIMAL,
    "y_pos5" DECIMAL,
    "z_pos5" DECIMAL,
    "ax_pos5" DECIMAL,
    "ay_pos5" DECIMAL,
    "az_pos5" DECIMAL,
    "x_pos6" DECIMAL,
    "y_pos6" DECIMAL,
    "z_pos6" DECIMAL,
    "ax_pos6" DECIMAL,
    "ay_pos6" DECIMAL,
    "az_pos6" DECIMAL,
    "x_pos7" DECIMAL,
    "y_pos7" DECIMAL,
    "z_pos7" DECIMAL,
    "ax_pos7" DECIMAL,
    "ay_pos7" DECIMAL,
    "az_pos7" DECIMAL,
    "x_pos8" DECIMAL,
    "y_pos8" DECIMAL,
    "z_pos8" DECIMAL,
    "ax_pos8" DECIMAL,
    "ay_pos8" DECIMAL,
    "az_pos8" DECIMAL,
    "x_pos9" DECIMAL,
    "y_pos9" DECIMAL,
    "z_pos9" DECIMAL,
    "ax_pos9" DECIMAL,
    "ay_pos9" DECIMAL,
    "az_pos9" DECIMAL,
    "x_pos10" DECIMAL,
    "y_pos10" DECIMAL,
    "z_pos10" DECIMAL,
    "ax_pos10" DECIMAL,
    "ay_pos10" DECIMAL,
    "az_pos10" DECIMAL,
    "x_pos11" DECIMAL,
    "y_pos11" DECIMAL,
    "z_pos11" DECIMAL,
    "ax_pos11" DECIMAL,
    "ay_pos11" DECIMAL,
    "az_pos11" DECIMAL,
    "x_pos12" DECIMAL,
    "y_pos12" DECIMAL,
    "z_pos12" DECIMAL,
    "ax_pos12" DECIMAL,
    "ay_pos12" DECIMAL,
    "az_pos12" DECIMAL,
    "x_pos13" DECIMAL,
    "y_pos13" DECIMAL,
    "z_pos13" DECIMAL,
    "ax_pos13" DECIMAL,
    "ay_pos13" DECIMAL,
    "az_pos13" DECIMAL,
    "x_pos14" DECIMAL,
    "y_pos14" DECIMAL,
    "z_pos14" DECIMAL,
    "ax_pos14" DECIMAL,
    "ay_pos14" DECIMAL,
    "az_pos14" DECIMAL,
    "x_pos15" DECIMAL,
    "y_pos15" DECIMAL,
    "z_pos15" DECIMAL,
    "ax_pos15" DECIMAL,
    "ay_pos15" DECIMAL,
    "az_pos15" DECIMAL,
    "x_pos16" DECIMAL,
    "y_pos16" DECIMAL,
    "z_pos16" DECIMAL,
    "ax_pos16" DECIMAL,
    "ay_pos16" DECIMAL,
    "az_pos16" DECIMAL,
    "x_pos17" DECIMAL,
    "y_pos17" DECIMAL,
    "z_pos17" DECIMAL,
    "ax_pos17" DECIMAL,
    "ay_pos17" DECIMAL,
    "az_pos17" DECIMAL,
    "x_pos18" DECIMAL,
    "y_pos18" DECIMAL,
    "z_pos18" DECIMAL,
    "ax_pos18" DECIMAL,
    "ay_pos18" DECIMAL,
    "az_pos18" DECIMAL,
    "x_pos19" DECIMAL,
    "y_pos19" DECIMAL,
    "z_pos19" DECIMAL,
    "ax_pos19" DECIMAL,
    "ay_pos19" DECIMAL,
    "az_pos19" DECIMAL,
    "x_pos20" DECIMAL,
    "y_pos20" DECIMAL,
    "z_pos20" DECIMAL,
    "ax_pos20" DECIMAL,
    "ay_pos20" DECIMAL,
    "az_pos20" DECIMAL,
    "x_pos21" DECIMAL,
    "y_pos21" DECIMAL,
    "z_pos21" DECIMAL,
    "ax_pos21" DECIMAL,
    "ay_pos21" DECIMAL,
    "az_pos21" DECIMAL,
    "x_pos22" DECIMAL,
    "y_pos22" DECIMAL,
    "z_pos22" DECIMAL,
    "ax_pos22" DECIMAL,
    "ay_pos22" DECIMAL,
    "az_pos22" DECIMAL,
    "x_pos23" DECIMAL,
    "y_pos23" DECIMAL,
    "z_pos23" DECIMAL,
    "ax_pos23" DECIMAL,
    "ay_pos23" DECIMAL,
    "az_pos23" DECIMAL,
    "x_pos24" DECIMAL,
    "y_pos24" DECIMAL,
    "z_pos24" DECIMAL,
    "ax_pos24" DECIMAL,
    "ay_pos24" DECIMAL,
    "az_pos24" DECIMAL,
    "x_pos25" DECIMAL,
    "y_pos25" DECIMAL,
    "z_pos25" DECIMAL,
    "ax_pos25" DECIMAL,
    "ay_pos25" DECIMAL,
    "az_pos25" DECIMAL,
    "x_pos26" DECIMAL,
    "y_pos26" DECIMAL,
    "z_pos26" DECIMAL,
    "ax_pos26" DECIMAL,
    "ay_pos26" DECIMAL,
    "az_pos26" DECIMAL,
    "x_pos27" DECIMAL,
    "y_pos27" DECIMAL,
    "z_pos27" DECIMAL,
    "ax_pos27" DECIMAL,
    "ay_pos27" DECIMAL,
    "az_pos27" DECIMAL,
    "x_pos28" DECIMAL,
    "y_pos28" DECIMAL,
    "z_pos28" DECIMAL,
    "ax_pos28" DECIMAL,
    "ay_pos28" DECIMAL,
    "az_pos28" DECIMAL,
    "x_pos29" DECIMAL,
    "y_pos29" DECIMAL,
    "z_pos29" DECIMAL,
    "ax_pos29" DECIMAL,
    "ay_pos29" DECIMAL,
    "az_pos29" DECIMAL,
    "x_pos30" DECIMAL,
    "y_pos30" DECIMAL,
    "z_pos30" DECIMAL,
    "ax_pos30" DECIMAL,
    "ay_pos30" DECIMAL,
    "az_pos30" DECIMAL,

    CONSTRAINT "f_curveball_test_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_kinematics_hitting" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL,
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "metric_name" TEXT NOT NULL,
    "frame" INTEGER NOT NULL,
    "value" DECIMAL,

    CONSTRAINT "f_kinematics_hitting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_kinematics_pitching" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL,
    "source_athlete_id" VARCHAR(100),
    "metric_name" TEXT NOT NULL,
    "frame" INTEGER NOT NULL,
    "value" DECIMAL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "velocity_mph" DECIMAL,
    "score" DECIMAL,

    CONSTRAINT "f_kinematics_pitching_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_mobility" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'mobility',
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assessment_date" DATE,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "source_file" TEXT,
    "c7_value" TEXT,
    "cervical_rotation" DECIMAL,
    "cervical_flexion" DECIMAL,
    "cervical_extension" DECIMAL,
    "cervical_lateral_flexion" DECIMAL,
    "shoulder_total_arc" DECIMAL,
    "horizontal_abduction" DECIMAL,
    "back_to_wall_shoulder_flexion" DECIMAL,
    "pelvic_tilt_against_wall" DECIMAL,
    "shoulder_stability_flexion" DECIMAL,
    "shoulder_stability_abduction" DECIMAL,
    "shoulder_stability_er_at_0_deg_horiz_abuduction" DECIMAL,
    "shoulder_stability_ir_at_0_deg_horiz_abduction" DECIMAL,
    "elbow_extension_rom" DECIMAL,
    "elbow_flexion_rom" DECIMAL,
    "elbow_pronation_rom" DECIMAL,
    "elbow_supination_rom" DECIMAL,
    "radial_nerve_glide" DECIMAL,
    "ulnar_nerve_glide" DECIMAL,
    "grip_strength_r" DECIMAL,
    "gs_l" DECIMAL,
    "grip_strength_r_at_90" DECIMAL,
    "gs_l_at_90" DECIMAL,
    "backbend" DECIMAL,
    "ankle_dorsiflextion_to_wall" DECIMAL,
    "ankle_manual_test" DECIMAL,
    "sittiing_t_spine_pvc_r" DECIMAL,
    "sittiing_t_spine_pvc_l" DECIMAL,
    "slump_test" DECIMAL,
    "thomas_test_hip_flexor_r" DECIMAL,
    "thomas_test_hip_flexor_l" DECIMAL,
    "hamstring_stretch" DECIMAL,
    "shoulder_ir" DECIMAL,
    "shoulder_er" DECIMAL,
    "supine_shoulder_flexion" DECIMAL,
    "young_stretch_passive" DECIMAL,
    "hip_pinch" DECIMAL,
    "r_prone_hip_ir" DECIMAL,
    "r_prone_hip_er" DECIMAL,
    "l_prone_hip_ir" DECIMAL,
    "l_prone_hip_er" DECIMAL,
    "prone_hamstring_raise" DECIMAL,
    "glute_strength_test_prone_hammy_push" DECIMAL,
    "mid_trap" DECIMAL,
    "low_trap" DECIMAL,
    "knee_circum" DECIMAL,
    "medical_history" TEXT,
    "isa" DECIMAL,
    "elbow_extension" DECIMAL,
    "elbow_flexion" DECIMAL,
    "elbow_pronation" DECIMAL,
    "elbow_supination" DECIMAL,
    "eccentric_bicep" DECIMAL,
    "tricep" DECIMAL,
    "foam_roller_lying_tspine_extension" DECIMAL,
    "childs_pose_thread_neelde_chest_to_sky" DECIMAL,
    "pvc_dissociation" DECIMAL,
    "drive_knee_to_chest_manual_lying" DECIMAL,
    "nordic_test_on_table" DECIMAL,
    "knee_valgus_test" DECIMAL,
    "r_hip_ir" DECIMAL,
    "r_hip_er" DECIMAL,
    "l_hip_ir" DECIMAL,
    "l_hip_er" DECIMAL,
    "patellar_mobes" DECIMAL,
    "knee_to_chest" DECIMAL,
    "tspine_windmill" DECIMAL,
    "grip_strength" DECIMAL,

    CONSTRAINT "f_mobility_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pro_sup" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL,
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age" DECIMAL,
    "height" DECIMAL,
    "weight" DECIMAL,
    "injury_history" TEXT,
    "season_phase" VARCHAR(50),
    "dynomometer_score" VARCHAR(50),
    "comments" TEXT,
    "forearm_rom_0to10" DECIMAL,
    "forearm_rom_10to20" DECIMAL,
    "forearm_rom_20to30" DECIMAL,
    "forearm_rom" DECIMAL,
    "tot_rom_0to10" DECIMAL,
    "tot_rom_10to20" DECIMAL,
    "tot_rom_20to30" DECIMAL,
    "tot_rom" DECIMAL,
    "num_of_flips_0_10" DECIMAL,
    "num_of_flips_10_20" DECIMAL,
    "num_of_flips_20_30" DECIMAL,
    "num_of_flips" DECIMAL,
    "avg_velo_0_10" DECIMAL,
    "avg_velo_10_20" DECIMAL,
    "avg_velo_20_30" DECIMAL,
    "avg_velo" DECIMAL,
    "fatigue_index_10" DECIMAL,
    "fatigue_index_20" DECIMAL,
    "fatigue_index_30" DECIMAL,
    "total_fatigue_score" DECIMAL,
    "consistency_penalty" DECIMAL,
    "total_score" DECIMAL,
    "cumulative_rom" DECIMAL,
    "raw_total_score" DECIMAL,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,

    CONSTRAINT "f_pro_sup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_proteus" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'proteus',
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acceleration_high" DECIMAL,
    "acceleration_low" DECIMAL,
    "acceleration_mean" DECIMAL,
    "birth_date" TEXT,
    "braking_high" DECIMAL,
    "braking_low" DECIMAL,
    "braking_mean" DECIMAL,
    "consistency_high" DECIMAL,
    "consistency_low" DECIMAL,
    "consistency_mean" DECIMAL,
    "deceleration_high" DECIMAL,
    "deceleration_low" DECIMAL,
    "deceleration_mean" DECIMAL,
    "dominance" TEXT,
    "exercise_created_at" TEXT,
    "exercise_id" INTEGER,
    "exercise_name" TEXT,
    "explosiveness_high" DECIMAL,
    "explosiveness_low" DECIMAL,
    "explosiveness_mean" DECIMAL,
    "height" INTEGER,
    "movement" TEXT,
    "personal_record" BOOLEAN,
    "position" TEXT,
    "power_high" DECIMAL,
    "power_low" DECIMAL,
    "power_mean" DECIMAL,
    "proteus_attachment" TEXT,
    "range_of_motion_high" DECIMAL,
    "range_of_motion_low" DECIMAL,
    "range_of_motion_mean" DECIMAL,
    "reps" INTEGER,
    "resistance" INTEGER,
    "session_created_at" TEXT,
    "session_id" INTEGER,
    "session_name" TEXT,
    "set_number" INTEGER,
    "sex" TEXT,
    "sport" TEXT,
    "user_id" INTEGER,
    "user_name" TEXT,
    "velocity_high" DECIMAL,
    "velocity_low" DECIMAL,
    "velocity_mean" DECIMAL,
    "weight" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "source_file" TEXT,
    "session_createdat" TEXT,
    "exercise_createdat" TEXT,
    "rangeofmotion_low" DECIMAL,
    "rangeofmotion_high" DECIMAL,
    "rangeofmotion_mean" DECIMAL,
    "proteusattachment" TEXT,

    CONSTRAINT "f_proteus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL,
    "source_athlete_id" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,

    CONSTRAINT "f_readiness_screen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_cmj" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jump_height" DECIMAL,
    "peak_power" DECIMAL,
    "peak_force" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,

    CONSTRAINT "f_readiness_screen_cmj_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_i" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "avg_force" DECIMAL,
    "avg_force_norm" DECIMAL,
    "max_force" DECIMAL,
    "max_force_norm" DECIMAL,
    "time_to_max" DECIMAL,

    CONSTRAINT "f_readiness_screen_i_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_ir90" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "avg_force" DECIMAL,
    "avg_force_norm" DECIMAL,
    "max_force" DECIMAL,
    "max_force_norm" DECIMAL,
    "time_to_max" DECIMAL,

    CONSTRAINT "f_readiness_screen_ir90_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_ppu" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jump_height" DECIMAL,
    "peak_power" DECIMAL,
    "peak_force" DECIMAL,
    "pp_w_per_kg" DECIMAL,
    "pp_forceplate" DECIMAL,
    "force_at_pp" DECIMAL,
    "vel_at_pp" DECIMAL,

    CONSTRAINT "f_readiness_screen_ppu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_t" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "avg_force" DECIMAL,
    "avg_force_norm" DECIMAL,
    "max_force" DECIMAL,
    "max_force_norm" DECIMAL,
    "time_to_max" DECIMAL,

    CONSTRAINT "f_readiness_screen_t_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_y" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'readiness_screen',
    "source_athlete_id" VARCHAR(100),
    "trial_id" INTEGER,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "avg_force" DECIMAL,
    "avg_force_norm" DECIMAL,
    "max_force" DECIMAL,
    "max_force_norm" DECIMAL,
    "time_to_max" DECIMAL,

    CONSTRAINT "f_readiness_screen_y_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_trials" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "height" DECIMAL,
    "weight" DECIMAL,
    "metrics" JSONB NOT NULL,
    "session_xml_path" TEXT,
    "session_data_xml_path" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT,

    CONSTRAINT "f_hitting_trials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_trials" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "velocity_mph" DECIMAL,
    "score" DECIMAL,
    "metrics" JSONB NOT NULL,
    "session_xml_path" TEXT,
    "session_data_xml_path" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "height" DECIMAL,
    "weight" DECIMAL,
    "handedness" TEXT,
    "name" TEXT,

    CONSTRAINT "f_pitching_trials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "org_settings" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "org_settings_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "sync_requests" (
    "id" TEXT NOT NULL,
    "runnerId" TEXT NOT NULL,
    "athleteUuid" TEXT,
    "reportOnly" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "fileKeys" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "errorMsg" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "dataPath" TEXT,

    CONSTRAINT "sync_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_3d_trials" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "name" VARCHAR(255),
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "height" DECIMAL,
    "weight" DECIMAL,
    "frame_rate" DECIMAL,
    "start_time" DECIMAL,
    "end_time" DECIMAL,
    "session_xml_path" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_hitting_3d_trials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_force_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_hitting_force_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_marker_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "label_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_hitting_marker_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_segment_pos_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "segment_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_hitting_segment_pos_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_hitting_segment_rot_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'hitting',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "segment_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_hitting_segment_rot_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_force_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_pitching_force_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_marker_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "label_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_pitching_marker_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_segment_pos_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "segment_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_pitching_segment_pos_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_segment_rot_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "trial_index" INTEGER NOT NULL,
    "segment_names" JSONB,
    "data" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_pitching_segment_rot_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_score" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "composite_score" DECIMAL,
    "composite_z" DECIMAL,
    "band" VARCHAR(16),
    "cmj_z" DECIMAL,
    "ppu_z" DECIMAL,
    "iso_z" DECIMAL,
    "power_curve_z" DECIMAL,
    "metrics_used" INTEGER,
    "baseline_window_days" INTEGER DEFAULT 28,
    "flags_json" JSONB,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_readiness_screen_score_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_readiness_screen_power_curve" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "session_date" DATE NOT NULL,
    "movement_type" VARCHAR(8) NOT NULL,
    "trial_id" INTEGER,
    "source_file" TEXT,
    "fs_hz" DECIMAL,
    "n_samples" INTEGER,
    "peak_power_w" DECIMAL,
    "time_to_peak_s" DECIMAL,
    "rise_time_10_90_s" DECIMAL,
    "rise_slope_w_per_s" DECIMAL,
    "fwhm_s" DECIMAL,
    "auc_j" DECIMAL,
    "t_com_s" DECIMAL,
    "t_com_norm_0to1" DECIMAL,
    "cv_local_peak" DECIMAL,
    "rpd_max_w_per_s" DECIMAL,
    "time_to_rpd_max_s" DECIMAL,
    "auc_pre_j" DECIMAL,
    "auc_post_j" DECIMAL,
    "work_early_pct" DECIMAL,
    "decay_90_10_s" DECIMAL,
    "skewness" DECIMAL,
    "kurtosis" DECIMAL,
    "spectral_centroid_hz" DECIMAL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_readiness_screen_power_curve_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "f_pitching_time_data" (
    "id" SERIAL NOT NULL,
    "athlete_uuid" VARCHAR(36) NOT NULL,
    "name" VARCHAR(255),
    "session_date" DATE NOT NULL,
    "source_system" VARCHAR(50) NOT NULL DEFAULT 'pitching',
    "source_athlete_id" VARCHAR(100),
    "owner_filename" TEXT,
    "handedness" VARCHAR(20),
    "trial_index" INTEGER NOT NULL,
    "velocity_mph" DECIMAL,
    "score" DECIMAL,
    "age_at_collection" DECIMAL,
    "age_group" TEXT,
    "height" DECIMAL,
    "weight" DECIMAL,
    "frame_rate" DECIMAL,
    "start_time" DECIMAL,
    "end_time" DECIMAL,
    "uncropped_length" DECIMAL,
    "session_xml_path" TEXT,
    "session_data_xml_path" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "f_pitching_time_data_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "d_athletes_normalized_name_key" ON "analytics"."d_athletes"("normalized_name");

-- CreateIndex
CREATE INDEX "idx_d_athletes_app_db_uuid" ON "analytics"."d_athletes"("app_db_uuid");

-- CreateIndex
CREATE INDEX "idx_d_athletes_normalized_name" ON "analytics"."d_athletes"("normalized_name");

-- CreateIndex
CREATE INDEX "idx_d_athletes_source_system" ON "analytics"."d_athletes"("source_system", "source_athlete_id");

-- CreateIndex
CREATE INDEX "idx_source_map_system" ON "analytics"."source_athlete_map"("source_system");

-- CreateIndex
CREATE INDEX "idx_source_map_uuid" ON "analytics"."source_athlete_map"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_arm_action_date" ON "f_arm_action"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_arm_action_movement_type" ON "f_arm_action"("movement_type");

-- CreateIndex
CREATE INDEX "idx_f_arm_action_uuid" ON "f_arm_action"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_date" ON "f_athletic_screen"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_uuid" ON "f_athletic_screen"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_cmj_date" ON "f_athletic_screen_cmj"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_cmj_uuid" ON "f_athletic_screen_cmj"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_dj_date" ON "f_athletic_screen_dj"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_dj_uuid" ON "f_athletic_screen_dj"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_nmt_date" ON "f_athletic_screen_nmt"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_nmt_uuid" ON "f_athletic_screen_nmt"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_ppu_date" ON "f_athletic_screen_ppu"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_ppu_uuid" ON "f_athletic_screen_ppu"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_slv_date" ON "f_athletic_screen_slv"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_athletic_screen_slv_uuid" ON "f_athletic_screen_slv"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_curveball_test_date" ON "f_curveball_test"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_curveball_test_pitch_type" ON "f_curveball_test"("pitch_type");

-- CreateIndex
CREATE INDEX "idx_f_curveball_test_uuid" ON "f_curveball_test"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_hitting_date" ON "f_kinematics_hitting"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_hitting_metric" ON "f_kinematics_hitting"("metric_name");

-- CreateIndex
CREATE INDEX "idx_f_hitting_uuid" ON "f_kinematics_hitting"("athlete_uuid");

-- CreateIndex
CREATE UNIQUE INDEX "idx_f_hitting_unique" ON "f_kinematics_hitting"("athlete_uuid", "session_date", "metric_name", "frame");

-- CreateIndex
CREATE INDEX "idx_f_pitching_date" ON "f_kinematics_pitching"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_pitching_metric" ON "f_kinematics_pitching"("metric_name");

-- CreateIndex
CREATE INDEX "idx_f_pitching_uuid" ON "f_kinematics_pitching"("athlete_uuid");

-- CreateIndex
CREATE UNIQUE INDEX "idx_f_pitching_unique" ON "f_kinematics_pitching"("athlete_uuid", "session_date", "metric_name", "frame");

-- CreateIndex
CREATE INDEX "idx_f_mobility_assessment_date" ON "f_mobility"("assessment_date");

-- CreateIndex
CREATE INDEX "idx_f_mobility_date" ON "f_mobility"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_mobility_uuid" ON "f_mobility"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_pro_sup_date" ON "f_pro_sup"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_pro_sup_uuid" ON "f_pro_sup"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_proteus_date" ON "f_proteus"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_proteus_exercise_id" ON "f_proteus"("exercise_id");

-- CreateIndex
CREATE INDEX "idx_f_proteus_session_id" ON "f_proteus"("session_id");

-- CreateIndex
CREATE INDEX "idx_f_proteus_uuid" ON "f_proteus"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_date" ON "f_readiness_screen"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_uuid" ON "f_readiness_screen"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_cmj_date" ON "f_readiness_screen_cmj"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_cmj_uuid" ON "f_readiness_screen_cmj"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_i_date" ON "f_readiness_screen_i"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_i_uuid" ON "f_readiness_screen_i"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_ir90_date" ON "f_readiness_screen_ir90"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_ir90_uuid" ON "f_readiness_screen_ir90"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_ppu_date" ON "f_readiness_screen_ppu"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_ppu_uuid" ON "f_readiness_screen_ppu"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_t_date" ON "f_readiness_screen_t"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_t_uuid" ON "f_readiness_screen_t"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_y_date" ON "f_readiness_screen_y"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_screen_y_uuid" ON "f_readiness_screen_y"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_hitting_trials_date" ON "f_hitting_trials"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_hitting_trials_owner" ON "f_hitting_trials"("owner_filename");

-- CreateIndex
CREATE UNIQUE INDEX "idx_f_hitting_trials_unique" ON "f_hitting_trials"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE INDEX "idx_f_pitching_trials_date" ON "f_pitching_trials"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_pitching_trials_owner" ON "f_pitching_trials"("owner_filename");

-- CreateIndex
CREATE UNIQUE INDEX "idx_f_pitching_trials_unique" ON "f_pitching_trials"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE INDEX "idx_f_hitting_3d_trials_date" ON "f_hitting_3d_trials"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_hitting_3d_trials_owner" ON "f_hitting_3d_trials"("owner_filename");

-- CreateIndex
CREATE UNIQUE INDEX "f_hitting_3d_trials_unique" ON "f_hitting_3d_trials"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_hitting_force_data_unique" ON "f_hitting_force_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_hitting_marker_data_unique" ON "f_hitting_marker_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_hitting_segment_pos_data_unique" ON "f_hitting_segment_pos_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_hitting_segment_rot_data_unique" ON "f_hitting_segment_rot_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_pitching_force_data_unique" ON "f_pitching_force_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_pitching_marker_data_unique" ON "f_pitching_marker_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_pitching_segment_pos_data_unique" ON "f_pitching_segment_pos_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE UNIQUE INDEX "f_pitching_segment_rot_data_unique" ON "f_pitching_segment_rot_data"("athlete_uuid", "session_date", "trial_index");

-- CreateIndex
CREATE INDEX "idx_f_readiness_score_uuid" ON "f_readiness_screen_score"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_score_date" ON "f_readiness_screen_score"("session_date");

-- CreateIndex
CREATE UNIQUE INDEX "uq_readiness_score_athlete_date" ON "f_readiness_screen_score"("athlete_uuid", "session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_pc_uuid" ON "f_readiness_screen_power_curve"("athlete_uuid");

-- CreateIndex
CREATE INDEX "idx_f_readiness_pc_date" ON "f_readiness_screen_power_curve"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_readiness_pc_movement" ON "f_readiness_screen_power_curve"("movement_type");

-- CreateIndex
CREATE UNIQUE INDEX "uq_power_curve_session" ON "f_readiness_screen_power_curve"("athlete_uuid", "session_date", "movement_type", "trial_id");

-- CreateIndex
CREATE INDEX "idx_f_pitching_time_data_date" ON "f_pitching_time_data"("session_date");

-- CreateIndex
CREATE INDEX "idx_f_pitching_time_data_owner" ON "f_pitching_time_data"("owner_filename");

-- CreateIndex
CREATE UNIQUE INDEX "idx_f_pitching_time_data_unique" ON "f_pitching_time_data"("athlete_uuid", "session_date", "trial_index");

-- AddForeignKey
ALTER TABLE "analytics"."source_athlete_map" ADD CONSTRAINT "DSourceAthleteMap_athleteUuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_arm_action" ADD CONSTRAINT "FArmAction_athleteUuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen" ADD CONSTRAINT "f_athletic_screen_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen_cmj" ADD CONSTRAINT "f_athletic_screen_cmj_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen_dj" ADD CONSTRAINT "f_athletic_screen_dj_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen_nmt" ADD CONSTRAINT "f_athletic_screen_nmt_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen_ppu" ADD CONSTRAINT "f_athletic_screen_ppu_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_athletic_screen_slv" ADD CONSTRAINT "f_athletic_screen_slv_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_curveball_test" ADD CONSTRAINT "FCurveballTest_athleteUuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_kinematics_hitting" ADD CONSTRAINT "f_kinematics_hitting_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_kinematics_pitching" ADD CONSTRAINT "f_kinematics_pitching_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_mobility" ADD CONSTRAINT "f_mobility_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_pro_sup" ADD CONSTRAINT "f_pro_sup_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_proteus" ADD CONSTRAINT "f_proteus_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen" ADD CONSTRAINT "f_readiness_screen_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_cmj" ADD CONSTRAINT "f_readiness_screen_cmj_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_i" ADD CONSTRAINT "f_readiness_screen_i_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_ir90" ADD CONSTRAINT "f_readiness_screen_ir90_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_ppu" ADD CONSTRAINT "f_readiness_screen_ppu_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_t" ADD CONSTRAINT "f_readiness_screen_t_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_y" ADD CONSTRAINT "f_readiness_screen_y_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_hitting_trials" ADD CONSTRAINT "f_hitting_trials_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_pitching_trials" ADD CONSTRAINT "f_pitching_trials_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_hitting_3d_trials" ADD CONSTRAINT "f_hitting_3d_trials_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_hitting_force_data" ADD CONSTRAINT "f_hitting_force_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_hitting_marker_data" ADD CONSTRAINT "f_hitting_marker_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_hitting_segment_pos_data" ADD CONSTRAINT "f_hitting_segment_pos_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_hitting_segment_rot_data" ADD CONSTRAINT "f_hitting_segment_rot_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_pitching_force_data" ADD CONSTRAINT "f_pitching_force_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_pitching_marker_data" ADD CONSTRAINT "f_pitching_marker_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_pitching_segment_pos_data" ADD CONSTRAINT "f_pitching_segment_pos_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_pitching_segment_rot_data" ADD CONSTRAINT "f_pitching_segment_rot_data_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_score" ADD CONSTRAINT "f_readiness_screen_score_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_readiness_screen_power_curve" ADD CONSTRAINT "f_readiness_screen_power_curve_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "f_pitching_time_data" ADD CONSTRAINT "f_pitching_time_data_athlete_uuid_fkey" FOREIGN KEY ("athlete_uuid") REFERENCES "analytics"."d_athletes"("athlete_uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

